* {
    box-sizing: border-box;
}

html {
    font: 18px/1.55 'Montserrat', sans-serif;
    color: rgb(19, 42, 59);
}

/* Typography */
h1 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(159, 118, 87);
}

a :hover {
    color: rgb(60, 58, 71);
}